{% extends 'base.html.twig' %}

{% block body %}

    <div id = "cont1" class = "shadow mb-5">
        <ul class="row" id="menu">
            <li class = "col justify-content-center"></li>
            <li class = "col justify-content-center"><a href="/" class = "text-decoration-none text-reset">Библиотека</a></li>
            <li class = "col justify-content-center"></li>
            {# Залогинен ? return приветствие и кнопка перехода в профиль : кнопка входа со всплывающим окном #}
            {# <li class = "col justify-content-right"><button class="btn btn-success mb-1 no-gutters" data-toggle="modal" data-target="#sign_in"><i class="fa fa-sign-in no-gutters"></i></button></li>#}
        </ul>
    </div>

    <li class = "col justify-content-right"><button class="btn btn-success mb-1 no-gutters" data-toggle="modal" data-target="#createBook"><i class="fa fa-plus-circle no-gutters"></i></button></li>
    <div class="shadow p-3">
        {{ form(form) }}
        {{ auths }}
        <a href="{{ path('checkAuthorsCount') }}" class="btn btn-primary">Increment</a>
        {# Тут прилепить кнопку смены книг на авторов через AJAX #}
    </div>

    {# Вставка блоков с модальными окнами #}
    {{ block("loginForm", "htmlForms/loginForm.html.twig") }}
    {{ block("registerForm", "htmlForms/registerForm.html.twig") }}

{% endblock %}

