{% extends 'base.html.twig' %}

{% block body %}

    <div class = "shadow mb-4">
        <ul class="row" id="menu">
            <li class = "col justify-content-center"></li>
            <li class = "col justify-content-center"><a href="/" class = "text-decoration-none text-reset">БИБЛИОТЕКА</a></li>
            <li class = "col justify-content-center"></li>
            {# Залогинен ? return приветствие и кнопка перехода в профиль : кнопка входа со всплывающим окном #}
            {# <li class = "col justify-content-right"><button class="btn btn-success mb-1 no-gutters" data-toggle="modal" data-target="#sign_in"><i class="fa fa-sign-in no-gutters"></i></button></li>#}
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <div class="col mt-1">
                <table class="table shadow ">
                    <thead class="thead-dark">
                    <tr style="text-align: center;">
                        <th>№</th>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Год</th>
                        <th>Авторы</th>
                        <th>Действие</th>
                    </tr>
                    {% set counter = 0 %}
                    {% for book in books %}
                        {% set counter = counter + 1 %}
                    <tr style="text-align: center;">
                        <td>{{ counter }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.description }}</td>
                        <td> {{ book.publicationYear }}</td>
                        <td>
                            {% if book.authorsCount > 1 %}
                                <i>{{ book.authors|first.name }}</i> и др.
                            {% else %}
                                <i>{{ book.authors|first.name }}</i>
                            {% endif %}
                        </td>
                        <td>
                            <a href="/" class="btn btn-success btn-sm" data-toggle="modal" data-target="#editModal<?=$value['id'] ?>"><i class="fa fa-edit"></i></a>
                            <a href="/deleteBook/{{ book.id }}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                        {% endfor %}
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col"></div>
        <div class="col-2 justify-content-center">
            <button class="btn btn-success mb-1 no-gutters btn-block" data-toggle="modal" data-target="#createBook"><i class="fa fa-plus-circle no-gutters"></i></button>
        </div>
        <div class="col"></div>
    </div>

{#    <div class="template-demo">#}
{#        <form id="editable-form" class="editable-form">#}
{#            <div class="form-group row"> <label class="col-6 col-lg-4 col-form-label">Simple text field</label>#}
{#                <div class="col-6 col-lg-8 d-flex align-items-center"> <a href="#" id="username" data-type="text" data-pk="1" class="editable editable-click" data-abc="true" style="">awesome</a> </div>#}
{#            </div>#}
{#            <div class="form-group row"> <label class="col-6 col-lg-4 col-form-label">Empty text field, required</label>#}
{#                <div class="col-6 col-lg-8 d-flex align-items-center"> <a href="#" id="firstname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your firstname" class="editable editable-click editable-empty" data-abc="true">Empty</a> </div>#}
{#            </div>#}
{#            <div class="form-group row"> <label class="col-6 col-lg-4 col-form-label">Select, local array, custom display</label>#}
{#                <div class="col-6 col-lg-8 d-flex align-items-center"> <a href="#" id="sex" data-type="select" data-pk="1" data-value="" data-title="Select sex" class="editable editable-click" data-abc="true">not selected</a> </div>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}

    <a href="#" id="username" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">superuser</a>

    {# Вставка блоков с модальными окнами #}
    {# block("loginForm", "htmlForms/loginForm.html.twig") #}
    {{ block("addBookForm", "htmlForms/addBookForm.html.twig") }}
    {# block("registerForm", "htmlForms/registerForm.html.twig") #}
    <script>
        $('#username').editable({
            mode: 'popup',
            type: 'text',
            pk: 1,
            url: '/post',
            title: 'Enter username'
        });
    </script>

{% endblock %}

