{% extends 'base.html.twig' %}

{% block body %}

    {# Список авторов #}
    <div class="container">
        <div class="row">
            <div class="col mt-1">
                <table class="table shadow ">
                    <thead class="thead-dark">
                    <tr style="text-align: center;">
                        <th>№</th>
                        <th>Имя</th>
                        <th>Количество книг</th>
                        <th>Книги</th>
                    </tr>
                    {% set counter = 0 %}
                    {% for author in authors %}
                        {% set counter = counter + 1 %}
                        <tr style="text-align: center;">
                            <td>{{ counter }}</td>
                            <td><i>{{ author.name }}</i></td>
                            <td>{{ author.booksCount }}</td>
                            <td><a href="" class="btn btn-success btn-sm" data-toggle="modal" data-target="#showBooks"
                                   data-book_authors="{% for book in author.books %}{{ "_#{book.title}" }}{% endfor %}">Список книг</a></td>
                        </tr>
                    {% endfor %}
                    </thead>
                </table>
            </div>
        </div>
    </div>


    {# Вставка блоков с модальными окнами #}
    {{ block("showBooks", "htmlForms/bookListModal.html.twig") }}


{% endblock %}